<div class="container">
    <div class="logo"  [routerLink]="['/home']">
        <img src="assets/hotelier.svg" alt="">
    </div>
    <div class="links">
        <a href="#">
            <fa-icon [icon]="faUser"></fa-icon>
            Clients
        </a>
        <a href="#">
            <fa-icon [icon]="faBed"></fa-icon>
            Rooms</a>
        <a [routerLink]="['/dashboard/employees']">
            <fa-icon [icon]="faMale"></fa-icon>
            Employees</a>
        <a [routerLink]="['/dashboard/reservation']">
            <fa-icon [icon]="faCalendar"></fa-icon>
            Reservations</a>
        <a href="#">
            <fa-icon [icon]="faCogs"></fa-icon>
            Settings</a>  
    </div>
    <div class="button">
        <button>Get support</button>

    </div>
</div>