@import url(../../../../../styles.less);

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    padding: 2%;
    position: fixed;
    height: 100%;



    .links {
        display: flex;
        flex-direction: column;
        
        a {
            font-size: 22px;
            text-decoration: none;
            padding: 5px;
            font-weight: bold;
            color: @font-color;

            fa-icon {
                color: @second-color
            }
        }
    }

    button {
        border-radius: 5px;
        border: none;
        background-color: @second-color;
        color: #FFF;
        padding: 5px;
        font-weight: bold;
        width: 70%;

    }
}