<div class="container">
    <div class="logo"  [routerLink]="['/home']">
        <img src="assets/hotelier.svg" alt="">
    </div>
    <div class="links">
        <a href="#">
            <fa-icon [icon]="faUser"></fa-icon>
            Clients
        </a>
        <a href="#">
            <fa-icon [icon]="faBed"></fa-icon>
            Rooms</a>
        <a href="#">
            <fa-icon [icon]="faMale"></fa-icon>
            Employees</a>
        <a href="#">
            <fa-icon [icon]="faCalendar"></fa-icon>
            Calendar</a>
        <a href="#">
            <fa-icon [icon]="faCogs"></fa-icon>
            Settings</a>  
    </div>

    <button>Get premium</button>
</div>