@import url(../../../../../styles.less);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../../../assets/wave01.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    margin-top: 5%;
    height: 400px;
    margin: 0 auto;
    animation-duration: 2s;
    animation-name: bottom-up;

    span {
        color: @font-color;
    }
}