@import url(../../../../../styles.less);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    animation-duration: 2s;
    animation-name: bottom-up;
}