.container {
    display: flex;
    background-color: #F4F5F5;

    app-sidenav {
        width: 15%;

    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: fixed;
        right: 0;
        width: 80%;

        margin-top: 5%;
    }

    .grid-header {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        gap: 5%;
        margin-top: 5%;
    }
}