<div class="container">
    <div class="title">Start your free trial</div>
    <div class="subtitle">No credit card required</div>

    <div class="content">
        <form [formGroup]="form">
            <label for="email">Email</label>
            <input type="text" placeholder="name@email.com" formControlName="email">
            <span *ngIf="!form.controls.email.pristine && form.controls.email.invalid" class="alert">Invalid email format</span>
            <label for="password">Password</label>
            <input type="text" placeholder="*********" formControlName="password">
            <span *ngIf="!form.controls.password.pristine && form.controls.password.invalid" class="alert">Password is required</span>
            <label for="phone">Phone Number</label>
            <input type="text" placeholder="(00) 00000-0000"  formControlName="phone" mask="(00) 00000-0000">
            <span *ngIf="!form.controls.phone.pristine && form.controls.phone.invalid" class="alert">Phone is required</span>

            <button [routerLink]="['/plan']">Sign Up For Free</button>
            <div class="news">
                <input type="checkbox" name="" id="">
                <span>I wish to not receive product updates </span>
            </div>
        </form>
        <div class="img">
            <img src="assets/secure-login.svg" alt="">
        </div>
    </div>
    <span>Already have an account? <a href="">Sign in</a></span>
    <img class="img-mobile" src="assets/secure-login.svg" alt="">

</div>


