<div class="container">
    <div class="title">Start your free trial</div>
    <div class="subtitle">No credit card required</div>

    <div class="content">
        <form>
            <label for="email">Email</label>
            <input type="text" placeholder="name@email.com">
            <label for="password">Password</label>
            <input type="text" placeholder="*********">
            <label for="phone">Phone Number</label>
            <input type="text" placeholder="000 0000 0000">

            <button [routerLink]="['/plan']">Sign Up For Free</button>
            <div class="news">
                <input type="checkbox" name="" id="">
                <span>I wish to not receive product updates </span>
            </div>
        </form>
        <div class="img">
            <img src="assets/secure-login.svg" alt="">
        </div>
    </div>

    <span>Already have an account? <a href="">Sign in</a></span>
</div>


