<ng-progress id='progressBar'></ng-progress>
<nav>
    <div [routerLink]="['/home']" class="logo">
        <img src="assets/hotelier.svg" alt="">
    </div>
    <div class="links" #links [ngClass]="flag ? 'navbar-mob' : '' " >
        <a [ngClass]="flag ? 'navbar-mob-items': '' "  [routerLink]="['/home']" >Home</a>
        <a [ngClass]="flag ? 'navbar-mob-items': '' " [routerLink]="['/dashboard']">Dashboard</a>
        <a [ngClass]="flag ? 'navbar-mob-items': '' " href="#">Work</a>
        <a [ngClass]="flag ? 'navbar-mob-items': '' " href="#">Info</a>
        <button  [ngClass]="flag ? 'navbar-mob-items': '' " [routerLink]="['/create']">
            <fa-icon [icon]="faRocket"></fa-icon>
            Get Started
        </button>
        <fa-icon (click)="showNavigation()" [icon]="faBars"></fa-icon>
    </div>
</nav>
