@import url(../../../../../styles.less);

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    background-color: transparent;

   .logo {
    animation-duration: 2s;
    animation-name: left-right;
   }

   .links {
       display: flex;
       width: 40%;
       justify-content: space-between;
       animation-duration: 2s;
       animation-name: left-right;

       a {
           text-decoration: none;
           color: #000;
           font-weight: 400;
           font-size: 22px;
       }

       a:hover {
         color: @second-color;
         font-weight: bold;


       }

       button {
        background-color: @third-color;
        color: #FFF;
        padding: 5px 10px;
        border: none;
        border-radius: 30px;
        animation: blink 3s infinite;
    }
   }


    
}