/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap');

@first-color: #F4F5F5;
@second-color: #7868E6;
@third-color: #F48B29;
@font-color: #4E4B63;

body {
    margin: 0;
    height: 100%;
    background-color: @first-color;
    font-family: 'Rajdhani', sans-serif;
}

button {
    cursor: pointer;
}


@keyframes left-right {
    from {transform: translateX(-200px)}
    to {transform: translateX(0)}
  }
  
    @keyframes left-rightt {
    from {transform: translateX(400px)}
    to {transform: translateX(0)}
  }

  @keyframes bottom-up {
    from {transform: translateY(100px)}
    to {transform: translateX(0)}
  }
    