<div class="card">
    <div class="content">
        <div class="left">
            <div class="name">Daniel da silva sauro</div>
            <div class="cpf">000.000.000-00</div>
            <div class="payment">Payment Done</div>
        </div>

        <div class="right">
            <div class="checkin">Checkin at 22/10/1994 22:00</div>
            <div class="checkout">Chekout at 24/10/1994 22:00</div>
            <div class="value">$ 100.00</div>
        </div>
    </div>

    <button>Close</button>
</div>